<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <!-- Exclude module-info.java from checkstyle -->
    <module name="BeforeExecutionExclusionFileFilter">
        <property name="fileNamePattern" value="module\-info\.java$"/>
    </module>
    <!-- Check for missing Javadoc comments for types (classes, interfaces, enums, annotations) -->
    <module name="TreeWalker">
        <!-- Check for missing Javadoc comments for methods -->
        <module name="MissingJavadocMethod"/>
        <!-- Check for missing Javadoc comments for types (classes, interfaces, enums, annotations) -->
        <module name="MissingJavadocType"/>
        <!-- Check for missing Javadoc comments for packages -->
        <module name="MissingJavadocPackage"/>
        <!-- Check for missing Javadoc comments for variables -->
        <module name="JavadocVariable"/>
        <!-- Check for missing Javadoc comments for methods -->
        <module name="JavadocMethod"/>
        <!-- Check for Javadoc comments style -->
        <module name="JavadocStyle"/>
    </module>
</module>
