.root {
    -fx-background-color: #e8e8e8;
}

Text {
    -fx-fill: #422918;
}

/* Main Menu Scene */
.button {
    -fx-text-fill: #422918;
    -fx-font-family: MedievalSharp;
    -fx-font-weight: bold;
    -fx-font-size: 45px;

    /* Reset default button style */
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.button ImageView {
    -fx-opacity: 0;
}

.button:focused ImageView {
    -fx-opacity: 1;
}

/* Button neo-brutalism style */
.brutalist-button {
    -fx-effect: dropshadow(three-pass-box, #422918, 0, 0, 3, 3);
    -fx-font-family: "Cal Sans";
    -fx-font-size: 20px;
    /* Reset default button style */
    -fx-background-insets: 0;
    -fx-border-width: 3;
    -fx-border-color: #422918;
    -fx-border-radius: 10;
    -fx-background-radius: 15;
    -fx-background-color: #e8e8e8;

    -fx-min-width: 100;
}

.title {
    -fx-font-family: MedievalSharp;
    -fx-font-weight: bold;
    -fx-font-size: 45px;
}

TextField {
    -fx-font-family: "Cal Sans";
    -fx-font-size: 20px;
    -fx-background-color: #e8e8e8;
    -fx-border-width: 3;
    -fx-border-color: #422918;
    -fx-border-radius: 10;
    -fx-background-radius: 15;
}

.container {
    -fx-background-color: #f2f2f2;
    -fx-border-width: 3;
    -fx-border-color: #422918;
    -fx-border-radius: 10;
    -fx-background-radius: 15;
    -fx-padding: 20;
}

/* Old css */
#quitButton {
    -fx-text-fill: #fff;
    -fx-padding: 15 25;
    -fx-background-radius: 100;
    -fx-background-color: linear-gradient(to bottom, #4A4063, #4A4063 50%, #4A4063 50%, #4A4063);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 19, 0.0, 2, 31);
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}


.button:disabled {
    -fx-opacity: 0.4; /* Common way to show disabled state in JavaFX */
}


.game-list {
    -fx-background-color: #C8C6D7;
    -fx-border-color: #6A0DAD;
    -fx-border-width: 2;
    -fx-border-radius: 10; /* Rounded corners for the border */
    -fx-padding: 10; /* Padding inside the list to space the items a bit from the border */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 10); /* Subtle shadow effect for depth */
}

.list-cell {
    -fx-padding: 10 20;
    -fx-font-size: 16px;
    -fx-font-family: 'Arial';
    -fx-text-fill: #333333;
    -fx-background-color: transparent;
}

.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background-color: #6A0DAD;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}

.list-cell:hover {
    -fx-background-color: #E6E6FA; /* Light purple background on hover */
}

.game-cell {
    -fx-padding: 10;
    -fx-border-color: brown;
    -fx-border-width: 2;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.game-name {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.players-count {
    -fx-font-size: 14px;
    -fx-text-fill: red;
}