
.error .toast {
    -fx-effect: dropshadow(gaussian, #d32622, 0, 0, 0, 4);
}

.error .icon {
    -fx-fill: #d32622;

}

.error .toast-title, .error .icon {
    -fx-text-fill: #d32622;
}

.success .toast {
    -fx-effect: dropshadow(gaussian, #2e7d32, 0, 0, 0, 4);
}

.success .icon {
    -fx-fill: #2e7d32;
}

.success .toast-title, .success .icon {
    -fx-text-fill: #2e7d32;
}

.warning .toast {
    -fx-effect: dropshadow(gaussian, #f9a825, 0, 0, 0, 4);
}

.warning .icon {
    -fx-fill: #f9a825;
}

.warning .toast-title, .warning .icon {
    -fx-text-fill: #f9a825;
}

.info .toast {
    -fx-effect: dropshadow(gaussian, #422918, 0, 0, 0, 4);
}

.info .icon {
    -fx-fill: #422918;
}

.info .toast-title, .info .icon {
    -fx-text-fill: #422918;
}

.toast {
    -fx-background-color: #e8e8e8;
    -fx-border-width: 3;
    -fx-background-radius: 15;
    -fx-padding: 15 25 15 25;
}

.toast-container {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.1, 3, 3);
}

.toast-title {
    -fx-font-family: 'CalSans-SemiBold';
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.toast-description {
    -fx-font-family: 'CalSans-SemiBold';
    -fx-opacity: 0.6;
    -fx-font-size: 15px;
}

.icon-text {
    -fx-font-family: 'CalSans-SemiBold';
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-text-fill: white;
}