<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application" singleton="false">
    <option name="MAIN_CLASS_NAME" value="it.polimi.ingsw.network.server.Server" />
    <module name="AM02" />
    <option name="PROGRAM_PARAMETERS" value="-l" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>